<div *ngIf="!isLoggedIn"  class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" >
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="loginForm" (submit)="submitLogin()">
      <mat-card-content>
        <p>
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" type="password" formControlName="password" />
          </mat-form-field>
        </p>
        <button type="submit" mat-button [disabled]="!loginForm.valid">Login</button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
<div *ngIf="isLoggedIn"  class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" >
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>User Detail</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
      <div>
        <p>Name:{{loginUserInfo.username}}</p>
        <p>Mail:{{loginUserInfo.email}}</p>
        <p>Whiteboard:{{loginUserInfo.whiteboardname}}</p>
      </div>
      <button type="button" mat-button (click)="submitLogout()">Logout</button>
    </mat-card-content>
  </mat-card>
</div>