<div class="whiteboard" (click)="showForm($event)">
    <div *ngFor="let media of mediaItems" [ngStyle]="{'left': media.x + 'px', 'top': media.y + 'px'}" class="img-video-container" (click)="openMedia(media, $event)">
        <span class="delete-icon" (click)="deleteMedia(media, $event)">X</span>
        <img *ngIf="media.type.startsWith('image')" [src]="media.safeSrc">
        <iframe *ngIf="media.type.startsWith('video')" [src]="media.safeSrc" frameborder="0" allowfullscreen></iframe>
    </div>

    <div *ngIf="showMediaForm" [ngStyle]="{'left': formPosition.x + 'px', 'top': formPosition.y + 'px'}" class="media-form"  (click)="stopPropagation($event)">
        <h3>Add Media</h3>

        <div class="form-group">
            
            <label for="url">URL:</label>
            <input type="text" id="url" [(ngModel)]="formValue.url" placeholder="Enter YouTube or image URL">
        </div>
        <button (click)="addMedia()">Add</button>
    </div>

</div>
