
<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <div class="simple-toolbar">
    <img src="assets/images/url-mural-white.png" alt="Your Image Description">
  </div>

 <div class="menu-icon" [class.hide-menu-icon]="showMenu" (click)="toggleMenu()">
  ☰
</div>

  <div class="menu-content" [class.show]="showMenu">
   Menu items -->
    <!-- <a href="#" class="menu-item">Log In/Sign Up</a>
    <a href="#" class="menu-item">Create New Mural</a> -->
    <!-- More items -->
  <!-- </div>
</div> --> 

<div class="mytoolbar">
    <p>
        <mat-toolbar>
            <button mat-icon-button class="toolbar-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
<!--            <span>{{title}}</span>    -->
            <img src="assets/images/url-gallery.png" alt="logo" class="toolbar-logo" />
            <span class="mytoolbar-spacer"></span>
            <button mat-icon-button class="toolbar-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="toolbar-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
    </p>
</div>
<div>
  <mat-drawer-container class="matdrawer-container" hasBackdrop="false">       <!-- hasBackdrop: true false -->
    <mat-drawer #drawer mode="side">                                        <!--Mode : side over push -->
      <mat-tab-group class="tabcontainer" mat-stretch-tabs="true" mat-align-tabs="end" headerPosition="top">
        <mat-tab label="LogIn/SignUp">
          <app-userauth (changeLoginUserInfo)="changeLoginUserInfo()"/>
        </mat-tab>
        <mat-tab label="Gallery">
          <app-usergallery [currentGalleryInfo]='currentGalleryInfo' [currentUserInfo]="currentUserInfo" (changeGalleryInfo)="changeGalleryInfo($event)" />
        </mat-tab>
      </mat-tab-group>
    </mat-drawer>             
    <mat-drawer-content>
      <app-title [currentGalleryInfo]='currentGalleryInfo' ></app-title>
      <app-whiteboard [currentGalleryInfo]='currentGalleryInfo' ></app-whiteboard>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<!--
<app-toolbar></app-toolbar>

<app-title></app-title>
<app-whiteboard></app-whiteboard>
-->
<div class="content" role="main"style="background-image: url('https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MXxzZWFyY2h8Mnx8bWFyYmxlJTIwZmxvb3J8fDB8fHx8MTYyOTM0NzA3NQ&ixlib=rb-1.2.1&q=80&w=1080'); width: 100%; height: 485px;">
  <footer >
<!--    
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.></a> -->
  </footer>

</div>