<div class="authcontainer">
    <div *ngIf="nowPage==='login'">
        <app-userauth-signin (changeLoginUserStatus)="changeLoginUserStatus()" />
    </div>
    <div *ngIf="nowPage==='register'">
        <app-userauth-signup />
    </div>
    <div>
        <button mat-button (click)="changeStatus()">
            <span *ngIf="nowPage==='login'"> &gt;&gt; Go to Register Page...</span>
            <span *ngIf="nowPage==='register'"> &lt;&lt; Go to Login Page...</span>
        </button>
    </div>
</div> 